POSTGRES_USER=darkfantasy
POSTGRES_PASSWORD=darkfantasy
POSTGRES_DB=darkfantasy

HTTP_PORT=80

NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_SITE_URL=http://localhost
NEXT_PUBLIC_SITE_NAME=Hollowfort

WEB_IMAGE=048266892585.dkr.ecr.eu-north-1.amazonaws.com/dark-fantasy-frontend:latest
API_IMAGE=048266892585.dkr.ecr.eu-north-1.amazonaws.com/dark-fantasy-backend:latest
